<div id="container">
    <h1 id="title">To-Do List</h1>
    <input [(ngModel)]="filter" id="filter-input" placeholder="Filter your tasks">
    <h2 *ngIf="emptyList()">Nothing to do!</h2>
    <ul id="objectives">
        <li class="list-items" *ngFor="let el of tasks | myFilter:filter">
            <button id="finish-bttn" *ngIf="completeCheck(el)" (click)="completeTask(el)">completed</button>
            <p [ngStyle]='{"text-decoration":el.completed ? "line-through" : "none"}'>{{el.task}}</p>
            <button id='edit' (click)='editTask(el)'>Edit goal</button>
            <button id="x-bttn" (click)="removeTask(el)"><img src="assets/clear.png"></button>
        </li>
    </ul>    
    <form #f="ngForm" (ngSubmit)="addTask()">
        <input [(ngModel)]="newGoal" [ngModelOptions]="{standalone: true}" id="new-goal" placeholder="New task">
        <button id="add">Add to List</button>
    </form>
</div>
